<!DOCTYPE html>
<html>

    <head></head>

    <body>

        <form method="post" action="/articles/<%= @article.id %>">
        <input type="hidden" id="hidden" name="_method" value="patch">
            <label for="title">Post title: </label>
                <input type="text" id="title" name="title" value="<%= @article.title %>">
            <label for="content">Post content: </label>
                <input type="text" id="content" name="content" value="<%= @article.content %>">

            <button type="submit">submit</button>
        </form>

    </body>

</html>