<!DOCTYPE html>
<html>

    <head></head>

    <body>

        <form method="post" action="/articles">
            <label for="title">Post title: </label>
                <input type="text" id="title" name="title">
            <label for="content">Post content: </label>
                <input type="text" id="content" name="content">

            <button type="submit">submit</button>
        </form>

    </body>

</html>